<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">


  <link href="http://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
  <link href="http://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">

  <script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.1.0.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

  <link rel="stylesheet" type="text/css" media="all" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.2.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>

<body background="{{ url_for('static', filename='RegisterBG.jpg') }}">
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav">

          <li><a href="/">Home</a></li>
          <li><a href="/categories">Restaurants</a></li>
          
        </ul>
        <ul class="nav navbar-nav navbar-right">

          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <span class="glyphicon glyphicon-user"></span>
              <STRONG>{{uname}}</STRONG>
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              <li><a href="/addRestaurant">Add Restaurant</a></li>
            </ul>
          </li>
          <li>
            <a href="/logout">
              <span class="glyphicon glyphicon-log-out"></span>
              Logout
            </a>


          </ul>
        </div>
      </div>
    </nav>
    <div class=“container-fluid”>
      <div class="main-pane">
        <div class="main-pane-screen">
          <h1 class="text-center">Select a Neighborhood</h1>
          <div class="row form-width">
            <form method = "POST" action = "/nearby" >
              <select name = "neighbor" class="form-control">
                {% for n in neighborhoods %}
                <option value= "{{n}}" >{{n}}</option>
                {% endfor %}
              </select>
              <br>
              <input type="submit" value = "submit" class="btn btn-default btn-primary btn-block">
            </form>
          </div>

          <h1 class="text-center">or</h1> 
          <br>

          <h1 class="text-center">Select a Price Range</h1>
          <div class="row form-width">
            <form method = "POST" action = "/pricerange" >
              <select name = "price" class="form-control">
                <option value=1 >$</option>
                <option value=2 >$$</option>
                <option value=3 >$$$</option>
              </select>
              <br>
              <input type="submit" value = "submit" class="btn btn-default btn-primary btn-block">
            </form>
          </div>

          <h1 class="text-center">or</h1> 
          <br>

          <h1 class="text-center">Select a Cuisine</h1>
          <div class="row form-width">
            <form method = "POST" action = "/cuisines" >
              <select name = "cuisine" class="form-control">
                {% for c in cuisines %}
                <option value= "{{c}}" >{{c}}</option>
                {% endfor %}
              </select>
              <br>
              <input type="submit" value = "submit" class="btn btn-default btn-primary btn-block">
            </form>
          </div>
        </div>
      </div>
    </div>

  </body>


  </html>
