<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">


  <link href="http://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
  <link href="http://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">

  <script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.1.0.js"></script>

  <link rel="stylesheet" type="text/css" media="all" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.2.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="style.css">

</head>
  <body>
    <div class=“container-fluid”>

      <h1> {{critic_id}}</h1>

      {% if liked is not none %}

      {{liked}}% of foodies liked this critic <br>
      <form method = "POST" action = "/foodie_review_critic" >
        <select name = "review">
            {% for foodie in foodie_id %}
              <option value= "{{critic_id}},{{foodie}}" >{{foodie}}</option>
            {% endfor %}
        </select>
        <input type="submit" value = "submit">
      </form>

      {% else %}
      No foodie ratings
      {% endif %}

      <br>
      Reviews that {{critic_id}} wrote
      <form method = "POST" action = "/critic_report" >
        <select name = "report">
            {% for restaurant,report in restaurant %}
              <option value= "{{report}}" >{{restaurant}}</option>
            {% endfor %}
        </select>
        <input type="submit" value = "submit">
      </form>

      {% if  isFoodie == true %}
        <b>How do you feel about this food critic?</b>
        <form method = "POST" action = "/make_critic_review/{{critic_id}}">
          <textarea rows="4" cols="50" name = "content">{% if content is not none %}{{content}}{% endif %}</textarea>
          <br>
          <button type="submit" value = "like" name = "like_dislike">like</button>
          <button type="submit" value = "dislike" name = "like_dislike">dislike</button>
        </form>
      {% endif %}

    </div>
  </body>


</html>
