<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">


  <link href="http://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
  <link href="http://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">

  <script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.1.0.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

  <link rel="stylesheet" type="text/css" media="all" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.2.0/css/font-awesome.min.css">

  <link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}">
  <style type="text/css">
    .bs-callout{
      padding: 0px !important;
      margin: 3px !important;
    }
    .check-button{
      position: relative;
      top: 25px;
    }
  </style>

</head>

<body background="{{ url_for('static', filename='RegisterBG.jpg') }}">
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav">

          <li><a href="/">Home</a></li>
          <li><a href="/categories">Restaurants</a></li>

        </ul>
        <ul class="nav navbar-nav navbar-right">

          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <span class="glyphicon glyphicon-user"></span>
              <STRONG>{{uname}}</STRONG>
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              <li><a href="/addRestaurant">Add Restaurant</a></li>
            </ul>
          </li>
          <li>
            <a href="/logout">
              <span class="glyphicon glyphicon-log-out"></span>
              Logout
            </a>

          </ul>
        </div>
      </div>
    </nav>

    <div class="container-fluid">
      <div class="main-pane">

        {% if is_foodie == True %}
        <div class="main-pane-screen">
          <div class="form-width recommendation">
            <form method = "POST" action = "/recommendation" >
              <label style="color:rgba(255,255,255);"><STRONG>Recommendation</STRONG></label>
              <br>
              <button type="submit" class= "btn btn-default btn-info btn-block"><span class="glyphicon glyphicon-zoom-in"></span></button>
            </form>
            <br>
            <br>
          </div>
        </div>
        {% endif %}
        <h1 class="text-center">Top Foodie Rated Restaurants</h1>
        <div class="main-pane-screen">

          {% for rid,name,rate in topFoodie%}
          <form method =  "POST" action = "/restaurant" class="form-group">

            <div class="bs-callout bs-callout-default restaurant-info">
              <div class="row">
                <div class="col-md-8">
                  <h3>{{name}}</h3>
                </div>
                <div class="col-md-4">
                <button type="submit" value = {{rid}} name = "rid" class="btn btn-default btn-primary check-button"> Check </button>
                </div>
              </div>
              <h5>{{rate}}</h5>
            </div>

            
          </form>
          {% endfor %}
        </div>
      </div>

      <div class="main-pane">
        <h1 class="text-center">Top Critic Rated Restaurants</h1>
        <div class="main-pane-screen">
          {% for rid,name,rate in topCritic%}
          <form method =  "POST" action = "/restaurant" class="form-group">
            <div class="bs-callout bs-callout-default restaurant-info">
              <div class="row">
                <div class="col-md-8">
                  <h3>{{name}}</h3>
                </div>
                <div class="col-md-4">
                <button type="submit" value = {{rid}} name = "rid" class="btn btn-default btn-primary check-button"> Check </button>
                </div>
              </div>
              <h5>{{rate}}</h5>
            </div>
            
          </form>
          {% endfor %}


          
        </div>
      </div>
    </div>





  </body>
  </html>

