<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">


  <link href="http://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
  <link href="http://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">

  <script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.1.0.js"></script>

  <link rel="stylesheet" type="text/css" media="all" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.2.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>
<body background="{{ url_for('static', filename='RegisterBG.jpg') }}">
  <div class=“container-fluid”>
    <div class="main-pane">
      <div class="main-pane-screen">
        <h1 class="text-center"> {{name}}   -  {{neighborhood}}({{zipcode}})</h1>
        <div class="form-width">
        <div class="restaurant-info bs-callout bs-callout-info">
          <p> Price: {{price}}</p> 
          <p>Cuisine: {{cuisine}}</p>
          <p>Phone number: {{contact}} </p>
        </div>
        </div>

        {% if liked is not none %}
        
        <div class="form-width">
          <div class="alert alert-info" role="alert">
            <p class="text-center">{{liked}}% of foodies liked it </p>
          </div>
          <form method = "POST" action = "/foodie_review" >
            <select name = "review" class="form-control">
              {% for foodie,review_id in foodies %}
              <option value= "{{review_id}}" >{{foodie}}</option>
              {% endfor %}
            </select>
            <br>
            <input type="submit" value = "Check Review" class= "btn btn-default btn-primary btn-block">
          </form>
        </div>
        {% else %}
        <div class="form-width">
          <div class="alert alert-warning" role="alert">
            <p class="text-center">No foodie ratings</p>
          </div>
        </div>
        {% endif %}
        <br>
        {% if rate is not none %}
        
        <div class="form-width">
          <div class="alert alert-info" role="alert">
            <p class="text-center">Critics gave it an average rating of {{rate}}/5.0</p>
          </div>
          <form method = "POST" action = "/critic_report" >
            <select name = "report" class="form-control">
              {% for critic,report in critic %}
              <option value= "{{report}}" >{{critic}}</option>
              {% endfor %}
            </select>
            <br>
            <input type="submit" value = "Check Review" class= "btn btn-default btn-primary btn-block">
          </form>
        </div>
        {% else %}
        <div class="form-width">
          <div class="alert alert-warning" role="alert">
            <p class="text-center">No critic ratings</p>
          </div>
        </div>
        {% endif %}
        <br>
        {% if  isFoodie == true %}

        <div class="form-width">
          <div class="alert alert-info" role="alert">
            <p class="text-center"><b>How do you feel about this restaurant?</b></p>
          </div>
          <form method = "POST" action = "/make_review/{{rid}}">
            <textarea rows="4" cols="50" name = "content">{% if content is not none %}{{content}}{% endif %}</textarea>
            <br>
            <button type="submit" value = "like" name = "like_dislike" class= "btn btn-default btn-primary">like</button>
            <button type="submit" value = "dislike" name = "like_dislike" class= "btn btn-default btn-primary">dislike</button>
          </form>
        </div>
        {% elif  isFoodie == false %}
        
        <div class="form-width">
          <div class="alert alert-info" role="alert">
            <p class="text-center"><b>How do you feel about this restaurant?</b></p>
          </div>
          <form method = "POST" action = "/make_report/{{rid}}">
            <textarea name = "content" rows="4" cols="50">{% if content is not none %}{{content}}{% endif %}</textarea>
            <br>
            <select name = "rating" class="form-control">
              {% for i in range(1,6) %}
              <option value= "{{i}}" > {{i}} star(s)</option>
              {% endfor %}
            </select>
            <br>
            <input type="submit" value = "submit" class= "btn btn-default btn-primary btn-block">
          </form>
        </div>
        {% endif %}
      </div>
    </div>
  </div>
</body>


</html>
